/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
/* @media screen and (max-width: 1280px) */

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
/* @media all and (min-width: 1024px) and (max-width: 1280px) */

/* Sur tous types d'écrans orientés verticalement */
/* @media all and (orientation: portrait) */


@media screen and (max-width: 1280px){
    .modal-content {
        margin: 2% auto; /*15% du haut et centré horizontalement */
        width: 90% !important; /* Largeur de la modale */
      }

    .blob {
        max-width: 200px; /* ou la taille souhaitée */
    }
}
