@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');


:root{
    --principal:#0077b6;
    --secondaire:#1b4965;
    --gris-fonce:#333333;
    --gris-claire:#555555;
    --vert:#555555;
    --bg-debit:#0077b6;
    --bg-credit:#ffb703;
    --bg-divers:#a5a58d;
    --bg-salaire:#6a994e;
    --bg-aide:#f72585;
    --bg-loisirs:#ffb703;
    --bg-charges:#ef233c;
    --bg-abonnements:#00b4d8;
    --bg-virements:#b5179e;
    --bg-courses:#f17105;
    --blanc-clair:#f7f7f7;
    --blanc-fonce:#EEEEEE;
}




/* ------------------------------------------------- Générique */

/* Roboto Mono, monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Gabarito' !important;
    height: 100%;
    background-color: #EEEEEE; /* Couleur de fond légère */
}

h5{
    margin-top: 30px !important;
}

#introduction {
    overflow: hidden; /* Empêche le SVG de déborder lors de l'animation */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EEEEEE; /* Fond blanc pour l'introduction */
    color: var(--gris-fonce); /* Couleur de texte foncée pour le contraste */
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
}

#introduction h1 {
    margin: 10px 0; /* Espacement réduit */
    font-size: 2.5em; /* Taille de police légèrement plus grande */
    font-weight: normal; /* Style de police normal, pas gras */
}

#introduction p {
    font-size: 1.2em;
    margin: 10px 0; /* Espacement uniforme */
    color: var(--gris-claire); /* Couleur de texte légèrement plus douce */
}

body button {
    padding: 10px 20px;
    background-color: var(--principal); /* Bouton de couleur foncée */
    color: #ffffff; /* Texte du bouton en blanc */
    border:none; /* Bordure du bouton */
    border-radius: 8px; /* Coins légèrement arrondis */
    cursor: pointer;
    font-size: 1em;
    /* margin-top: 20px; Espacement au-dessus du bouton */
}

body button:hover {
    background-color: var(--secondaire); /* Changement de couleur au survol */
}

body button:after {
    background-color: var(--secondaire); /* Changement de couleur au survol */
}

#introduction::after {
    display: none; /* Retirer l'effet ondulé pour un look plus épuré */
}

#appContent {
    background-color: var(--blanc-fonce); /* Même couleur de fond que le body */
    color: var(--gris-fonce);
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* Stylez les éléments de #appContent ici pour maintenir le thème minimaliste */

.blob {
    position: absolute;
    max-width: 300px; /* ou la taille souhaitée */
}

#blob1 {
    top: 10%;
    left: 10%;
}

#blob2 {
    bottom: 10%;
    right: 10%;
}



/* ------------------------------------------------- App Content */

.action {
    background-color: var(--principal);
    margin: 0;
    width: 100%;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000; /* Assurez-vous qu'elle reste au-dessus des autres contenus */
}


/* ------------------------------------------------- nav */
.row{
    margin-right: 0 !important;
    position: sticky;
    top: 0;
    z-index: 1;
}


/* Style pour le fond de la modale */
.modal {

    display: none; /* Caché par défaut */
    position: relative; /* Reste en place lors du scroll */
    z-index: 4000; /* Se situe au-dessus du reste */
    left: 0;
    top: 0;
    width: 100% !important; /* Largeur complète */
    height: 100%; /* Hauteur complète */
    overflow: auto; /* Ajoute un scroll si nécessaire */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Couleur de fond noir avec opacité */
  }
  
  /* Style pour le contenu de la modale */
  .modal-content {
    z-index: 6001;
    transition: opacity 0.5s ease;
    background-color: #EEEEEE;
    margin: 8% auto; /*15% du haut et centré horizontalement */
    padding: 20px;
    border: none !important;
    width: 70% !important; /* Largeur de la modale */
  }
  
  /* Style pour le bouton de fermeture */
  .close {
    color: #aaa;
    float: right !important;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  
.fermer_modal{
    float : right;
}

  /* Bouton plus */
#btn_plus{
    background-color: var(--principal);
    color: #ffffff; /* Texte du bouton en blanc */
    border:none; /* Bordure du bouton */
    border-radius: 8px; /* Coins légèrement arrondis */
    cursor: pointer;
    font-size: 1em;
    /* margin-top: 20px; Espacement au-dessus du bouton */
}

#btn_plus:hover {
    background-color: var(--secondaire); /* Changement de couleur au survol */
}
  
#titre_comptes{
    padding-top : 20px;
}

/* ------------------------------------------------- Style pour les listes déroulantes */

.flex-grow-1 {
    position: relative;
    display: inline-block;
}

.flex-grow-1 i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.flex-grow-1 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Ajouter un padding à droite pour le texte */
    padding-right: 30px; /* Ajustez selon la taille de l'icône */
}


#categorie_list {
    margin-left : 10px;
    width : 400px;
}

/* ------------------------------------------------- operation */
#operation_valeur{
    width : 100px;
}

#operation_detail{
    margin-top : 20px;
}


#operation_date{
    margin-top : 20px;
    width: 40%;
    margin-left: 10px;
}

/* Couleur de fond et couleur de texte par défaut du label */
#btn-check-plus + .btn-success {
    background-color: white; /* ou toute autre couleur par défaut */
    color: green;
    border : solid 1px green;
    margin-left:10px;
    margin-right:10px;
}

/* Changez la couleur de fond et la couleur de texte du label lorsque le checkbox est coché */
#btn-check-plus:checked + .btn-success {
    background-color: green; /* nouvelle couleur de fond lorsque coché */
    color: white; /* ajustez si nécessaire */
}

#btn-check-plus:hover + .btn-success {
    background-color: green; /* nouvelle couleur de fond lorsque coché */
    color: white; /* ajustez si nécessaire */
}

#btn-check-plus-m + .btn-success {
    background-color: white; /* ou toute autre couleur par défaut */
    color: green;
    border : solid 1px green;
    margin-left:10px;
    margin-right:10px;
}

/* Changez la couleur de fond et la couleur de texte du label lorsque le checkbox est coché */
#btn-check-plus-m:checked + .btn-success {
    background-color: green; /* nouvelle couleur de fond lorsque coché */
    color: white; /* ajustez si nécessaire */
}

#btn-check-plus-m:hover + .btn-success {
    background-color: green; /* nouvelle couleur de fond lorsque coché */
    color: white; /* ajustez si nécessaire */
}



/* Couleur de fond et couleur de texte par défaut du label */
#btn-check-minus + .btn-danger {
    background-color: white; /* ou toute autre couleur par défaut */
    color: red;
    border : solid 1px red;
}

/* Changez la couleur de fond et la couleur de texte du label lorsque le checkbox est coché */
#btn-check-minus:checked + .btn-danger {
    background-color: red; /* nouvelle couleur de fond lorsque coché */
    color: white; /* ajustez si nécessaire */
}

#btn-check-minus:hover + .btn-danger {
    background-color: red; /* nouvelle couleur de fond lorsque coché */
    color: white; /* ajustez si nécessaire */
}

#btn-check-minus-m + .btn-danger {
    background-color: white; /* ou toute autre couleur par défaut */
    color: red;
    border : solid 1px red;
}

/* Changez la couleur de fond et la couleur de texte du label lorsque le checkbox est coché */
#btn-check-minus-m:checked + .btn-danger {
    background-color: red; /* nouvelle couleur de fond lorsque coché */
    color: white; /* ajustez si nécessaire */
}

#btn-check-minus-m:hover + .btn-danger {
    background-color: red; /* nouvelle couleur de fond lorsque coché */
    color: white; /* ajustez si nécessaire */
}

.historique_id_operation{
    display:none;
}

.historique_date_operation{
    width: 15%;
}

.historique_banque_operation{
    width: 15%;
}

.historique_detail_operation{
    width: 40%;
    padding-left:5px;
}

.historique_category_operation {
    width: 15%;
    margin-right: 10px;
  }

.historique_montant_operation{
    width: 15%;
    padding-left: 10px;
}

#operationModificationSaveDelete{
    position: right
}


/* Pour masquer les flèches dans les navigateurs WebKit comme Chrome, Safari, etc. */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Pour masquer les flèches dans Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


/* Couleur des catégories */
.bg-divers {
    background-color: var(--bg-divers)
}

.bg-salaire {
    background-color: var(--bg-salaire);
}

.bg-aide {
    background-color: var(--bg-aide);
}

.bg-loisirs {
    background-color: var(--bg-loisirs);
}

.bg-charges {
    background-color: var(--bg-charges);
}

.bg-abonnements {
    background-color: var(--bg-abonnements);
}

.bg-virements {
    background-color: var(--bg-virements);
}

.bg-courses {
    background-color: var(--bg-courses);
}

.bg-credit {
    background-color: var(--bg-credit);
}

.bg-debit {
    background-color: var(--bg-debit);
}

/* ------------------------------------------------- popup alert */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 2; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  #popupAlert.show {
    animation: fadeIn 0.5s forwards;
  }
  
  #popupAlert.hide {
    animation: fadeOut 0.5s forwards;
  }
  

/* ------------------------------------------------- popup success */
  
  #popupSuccess.show {
    animation: fadeIn 0.5s forwards;
  }
  
  #popupSuccess.hide {
    animation: fadeOut 0.5s forwards;
  }



/* ------------------------------------------------- virement */

#virement_fleche{
    margin-left: 5px;
    margin-right: 5px;
}

#virement_date{
    width: 40%;
    margin-left: 10px;
}



/* ------------------------------------------------------- budget */
.label_budget{
    padding-top: 10px;
}

.btn_budget{
    margin-top: 10px;
}

.container_budget{
    display: flex;
    justify-content: center;
}

.container_budget i{
    margin-left: 5px;
    width: 40px;
    color: white;
    border-radius: 8px;
    padding: 10px;
}

/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* RESULTSCONTENT */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */

#bankListContentConteneur{
    width: 100%;
    padding: 10px;
}

#bankListContentConteneur i{
    right: 20px;;
}

.resultsContent {
    display: flex;
    flex-direction: column; /* Organise les enfants en colonne */
}

.topRow {
    display: none;
    flex-wrap: wrap;
}

.infoComptes {
    /* flex: 0 0 20%; Fixe la largeur à 20%, sans rétrécissement ou agrandissement */
    margin: 10px;
}

.solde{
    background-color: var(--blanc-clair);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-align: center; /* Centre le texte horizontalement */
    display: flex; /* Utilise Flexbox */
    flex-direction: column; /* Organise les enfants en colonne */
    align-items: center; /* Centre les éléments enfants verticalement */
    justify-content: center; /* Centre les éléments enfants horizontalement */
    padding:10px;
}

.solde p{
    margin-bottom: 0px;
    font-size: 1.2em;
}

.soldeCC {
    color: var(--principal); /* Définit la couleur du texte en bleu */
    font-size: 2em; /* Augmente la taille du texte */
    font-weight: bold; /* Rend le texte en gras pour plus d'impact */
  }

.mesComptes{
    background-color: var(--blanc-clair);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.titreMesComptes, .totalAvoirs{
    display: flex;
    justify-content: space-between; /* Répartit l'espace entre les éléments enfants */
    align-items: center;
    padding: 10px 10px 0;

}

.titreMesComptes p{
    font-size: 1.2em;
    margin-bottom:0;
}

.titreMesComptes i{
    padding-right: 10px;
}

.totalAvoirs{
    color: var(--principal);
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom:5px;
}

.totalAvoirs p{
    margin-bottom:0;
}


.epargneContent{
    background-color: var(--blanc-clair);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centre le texte horizontalement */
    display: flex; /* Utilise Flexbox */
    flex-direction: column; /* Organise les enfants en colonne */
    align-items: center; /* Centre les éléments enfants verticalement */
    justify-content: center; /* Centre les éléments enfants horizontalement */
    margin-top: 10px;
}

.epargneContent p{
    margin-bottom: 0px;
    font-size: 1.2em;
}

.montantEpargne {
    color: var(--principal); /* Définit la couleur du texte en bleu */
    font-size: 2em; /* Augmente la taille du texte */
    font-weight: bold; /* Rend le texte en gras pour plus d'impact */
  }

/* ------------------------------------------------ Dashboard */

.dashboard {
    flex: 1; /* Occupe l'espace restant */
    margin: 10px;
    background-color: var(--blanc-clair);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboardEntete{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 10px;
}

.dashboardEntete p{
    font-size: 1.2em;
}

.selectionDateContent{
    display: flex; 
    justify-content: end; 
    align-items: center;
    float: right;
}

#dateMonth { 
    margin-right: 5px;
    width: 150px;
}

#dateYear { 
    margin-left: 5px;
    width: 100px;
}

#dateMonthList, #dateYearList{
    background-color: var(--blanc-clair );
    border-radius: 15px;
}


.dashboardContenu {
    display: flex; /* Active Flexbox */
  }

.contentBudgetAutres {
    flex: 1; 
}

.row_content_budgets {
    position: relative;
    display: flex; /* Applique un conteneur flex */
    width: 100%; /* La largeur totale de la ligne */
  }

  
.row_content_budgets::after {
    content: ''; /* Nécessaire pour générer le pseudo-élément */
    display: block; /* Le pseudo-élément est traité comme un bloc */
    margin: 0 auto; /* Centre le pseudo-élément horizontalement */
    width: 98%; /* Largeur du pseudo-élément à 80% de celle du parent */
    height: 2px; /* Hauteur de la ligne, peut être ajustée selon le besoin */
    background-color: #E1E1E1; /* Couleur de la ligne séparatrice */
    position: absolute;
    bottom: 0; /* Positionne le pseudo-élément en bas de la div parent */
    left: 0;
    right: 0;
  }
  
  .row_content_budgets:last-child::after {
    display: none; /* Empêche la dernière div de générer un pseudo-élément */
  }
  
  .row_content_budgets > div {
    flex: 1; /* Chaque div prendra un espace égal dans le conteneur */
  }

  .content_budget{
    position: relative;
    margin: 10px;
    padding: 30px;
  }

  .content_budget:not(:last-child)::after {
    content: ''; /* Nécessaire pour générer le pseudo-élément */
    display: block; /* Le pseudo-élément est traité comme un bloc */
    position: absolute;
    top: 10%; /* Position de départ du trait, 10% depuis le haut pour centrer le trait à 80% de la hauteur */
    bottom: 10%; /* Cela crée un espace en haut et en bas, réduisant la hauteur du trait à 80% de celle du parent */
    right: 0; /* Positionne le pseudo-élément sur la droite de la div parent */
    width: 2px; /* Largeur de la ligne, ajustez selon l'épaisseur désirée */
    background-color: #E1E1E1; /* Couleur de la ligne séparatrice */
  }

  .evolutionRed{
    color: var(--bg-charges);
    background-color: #FBCBD1;
    border-radius: 10px;
    align-items: center;
  }
  .evolutionGreen{
    color: var(--bg-salaire);
    background-color: #DBF5CC;
    border-radius: 10px;
    align-items: center;
  }

  .contentBudgetEvolution p{
    margin:0;
  }

.contentBudgetTop{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}

.contentBudgetTop .categorieBudgetTitre{
    margin: 0;
}

.iconBudgetCategorie{
    padding: 5px;
    justify-content: center;
    border-radius: 8px;
    color: white;
    flex: 0 0 auto;
}

.categorieBudgetTitre {
    font-weight: 700;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-left: 10px; /* Ajustez selon vos besoins pour l'espacement */
    margin-right: 10px; /* Ajustez selon vos besoins pour l'espacement */
  }

.contentBudgetEvolution {
    display: flex; /* Utilise Flexbox pour aligner les enfants sur la même ligne */
    flex-basis: 30%; /* Alloue 30% de l'espace de la div parent */
    justify-content: space-between; /* Espacement entre les éléments internes */
    padding: 5px;
  }

  .contentBudgetDiff{
    display: flex;
    font-size: 2em;
    font-weight: bold;
  }

  .budgetDiffbudget, .contentBudgetNbOperation{
    color: var(--bg-divers);
  }

.contentBudgetAutres .col-4 {
    flex: 1; /* Chaque div enfant prend un tiers de l'espace disponible */
    /* Ajoutez des styles supplémentaires comme la marge, le padding si nécessaire */
}


/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

/* GRAPHIQUES */

.graphiques{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.lineaire, .camembert {
    flex: 1; /* Chaque enfant prend une part égale */
    padding: 10px; /* Un peu de padding autour des graphiques pour ne pas toucher les bords */
  }

.alertErrorSelection{
    color: var(--bg-charges);
}

.lineaire{
    background-color: var(--blanc-clair);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center; /* Centre le texte horizontalement */
    display: flex; /* Utilise Flexbox */
    flex-direction: column; /* Organise les enfants en colonne */
    justify-content: center; /* Centre les éléments enfants horizontalement */
    margin:10px 10px 10px 10px;
    padding: 10px;
}

.lineaireTop, .camembertTop{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    font-size: 1.2em;
}

.camembert{
    background-color: var(--blanc-clair);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-align: center; /* Centre le texte horizontalement */
    display: flex; /* Utilise Flexbox */
    flex-direction: column; /* Organise les enfants en colonne */
    justify-content: center; /* Centre les éléments enfants horizontalement */
    margin:10px;
    padding: 10px;
}


















/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */  

.containerContentHistoriques {
    display:none;
    margin: 10px; /* Ajoute une marge autour de containerContentHistoriques pour un espacement uniforme */
    background-color: var(--blanc-clair);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.contentCompteEtMontant{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding: 10px;
    box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.1);   
}

.conteneurNomCompte{
    display:flex;
    flex-wrap: wrap;
    gap: 5px; /* Espacement entre infoComptes et dashboard */
}

.contentNomCompte{
    padding-left : 10px;
}

.conteneurNomCompte i{
    margin:0;
    padding-top: 4px;
}

.contentMontantCompte{
    color: var(--principal);
    font-weight: bold;
    font-size: 0.9em;
}

.contentHistoriqueBoutons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cache la checkbox d'origine */
.checkbox-custom {
    display: none;
  }
  
  /* Style pour le label qui ressemble à un bouton */
  .checkbox-custom-label {
    cursor: pointer;
    position: relative;
    padding: 5px;
    margin: 5px;
    color: grey; /* Couleur du texte quand la checkbox n'est pas cochée */
  }
  
  /* Ajoute un pseudo-élément pour la ligne sous le label */
  .checkbox-custom-label::after {
    content: '';
    display: block;
    width: 0;
    height: 2px; /* Épaisseur de la ligne */
    background: #f00; /* Couleur de la ligne */
    transition: width 0.2s;
    position: absolute;
    bottom: -5px; /* Distance de la ligne par rapport au bas du texte */
    left: 0;
  }
  
  /* Style pour le label lorsque la checkbox est cochée */
    .checkbox-custom:checked + .checkbox-custom-label {
        color: #333; /* Couleur de retour (normalement la couleur par défaut) */
    }

  /* Quand la checkbox est cochée, étend la ligne sous le texte du label */
  .checkbox-custom:checked + .checkbox-custom-label::after {
    width: 100%;
  }
  
  /* Optionnel: Ajoute une transition pour l'effet de survol */
  .checkbox-custom-label:hover::after {
    width: 100%;
  }

  .contentHistoriques{
    padding: 20px;
  }

  .historique_montant_operation_content{
    width: 10%;
    text-align: right;
  }


  /* Boutons catégories historique */
#categoryCheckboxes{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .btn-category {
    display: inline-block;
    margin: 5px;
    border-radius: 20px; /* Pour les arrondir comme des bulles */
    padding: 5px 15px; /* Ajustez selon les besoins */
    cursor: pointer; /* Indique que l'élément est cliquable */
    border: none; /* Supprime la bordure par défaut des boutons */
    transition: filter 0.3s ease, opacity 0.3s ease; /* Transition douce pour le filtre et l'opacité */
  }
  
  .btn-category i {
    margin-right: 5px; /* Espace entre l'icône et le texte */
    color: white;
  }
  
  /* Style lorsque la checkbox est non cochée */
.btn-check:not(:checked) + .btn-category {
    opacity: 1; /* Opacité normale */
  }
  
  /* Style lorsque la checkbox est cochée */
  .btn-check:checked + .btn-category {
    opacity: 0.6; /* Rend le label plus sombre */
    filter: brightness(70%); /* Rend la couleur de fond plus sombre */
    cursor: pointer; /* Change le curseur pour indiquer que l'élément est interactif */
  }

  /* Style lors du survol du label */
.btn-category:hover {
    filter: brightness(90%); /* Rend la couleur de fond légèrement plus claire lors du survol */
  }
  
  /* Style lors du survol du label de la checkbox cochée */
  .btn-check:checked + .btn-category:hover {
    background-color: var(--gris-claire);
    filter: brightness(70%); /* Vous pouvez ajuster pour un effet plus sombre lors du survol si la checkbox est cochée */
  }

  .pas_historique{
    color: var(--principal);
  }
  


