:root{

    --principal:#0077b6;
    --secondaire:#1b4965;
    --gris-fonce:#333333;
    --gris-claire:#555555;
    --vert:#555555;
    --bg-divers:#a5a58d;
    --bg-salaire:#6a994e;
    --bg-aide:#f72585;
    --bg-loisirs:#ffb703;
    --bg-charges:#ef233c;
    --bg-abonnements:#00b4d8;
    --bg-virements:#b5179e;
    --bg-courses:#f17105;
}




/* ------------------------------------------------- Générique */

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: #f4f4f4; /* Couleur de fond légère */
}

h5{
    margin-top: 30px !important;
}

#introduction {
    overflow: hidden; /* Empêche le SVG de déborder lors de l'animation */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff; /* Fond blanc pour l'introduction */
    color: var(--gris-fonce); /* Couleur de texte foncée pour le contraste */
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
}

#introduction h1 {
    margin: 10px 0; /* Espacement réduit */
    font-size: 2.5em; /* Taille de police légèrement plus grande */
    font-weight: normal; /* Style de police normal, pas gras */
}

#introduction p {
    font-size: 1.2em;
    margin: 10px 0; /* Espacement uniforme */
    color: var(--gris-claire); /* Couleur de texte légèrement plus douce */
}

body button {
    padding: 10px 20px;
    background-color: var(--principal); /* Bouton de couleur foncée */
    color: #ffffff; /* Texte du bouton en blanc */
    border:none; /* Bordure du bouton */
    border-radius: 8px; /* Coins légèrement arrondis */
    cursor: pointer;
    font-size: 1em;
    /* margin-top: 20px; Espacement au-dessus du bouton */
}

body button:hover {
    background-color: var(--secondaire); /* Changement de couleur au survol */
}

body button:after {
    background-color: var(--secondaire); /* Changement de couleur au survol */
}

#introduction::after {
    display: none; /* Retirer l'effet ondulé pour un look plus épuré */
}

#appContent {
    background-color: #f4f4f4; /* Même couleur de fond que le body */
    color: var(--gris-fonce);
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* Stylez les éléments de #appContent ici pour maintenir le thème minimaliste */

.blob {
    position: absolute;
    max-width: 300px; /* ou la taille souhaitée */
}

#blob1 {
    top: 10%;
    left: 10%;
}

#blob2 {
    bottom: 10%;
    right: 10%;
}



/* ------------------------------------------------- App Content */

.action {
    background-color: var(--principal);
    margin: 0;
    width: 100%;
    align-items: center;
}


/* ------------------------------------------------- nav */
.row{
    margin-right: 0 !important;
}



/* Style pour le fond de la modale */
.modal {

    display: none; /* Caché par défaut */
    position: fixed; /* Reste en place lors du scroll */
    z-index: -1; /* Se situe au-dessus du reste */
    left: 0;
    top: 0;
    width: 100% !important; /* Largeur complète */
    height: 100%; /* Hauteur complète */
    overflow: auto; /* Ajoute un scroll si nécessaire */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Couleur de fond noir avec opacité */
  }
  
  /* Style pour le contenu de la modale */
  .modal-content {
    z-index:2;
    background-color: #fefefe;
    margin: 8% auto; /*15% du haut et centré horizontalement */
    padding: 20px;
    border: none !important;
    width: 70% !important; /* Largeur de la modale */
  }
  
  /* Style pour le bouton de fermeture */
  .close {
    color: #aaa;
    float: right !important;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  
.fermer_modal{
    float : right;
}

  /* Bouton plus */
#btn_plus{
    background-color: var(--principal);
    color: #ffffff; /* Texte du bouton en blanc */
    border:none; /* Bordure du bouton */
    border-radius: 8px; /* Coins légèrement arrondis */
    cursor: pointer;
    font-size: 1em;
    /* margin-top: 20px; Espacement au-dessus du bouton */
}

#btn_plus:hover {
    background-color: var(--secondaire); /* Changement de couleur au survol */
}
  
#titre_comptes{
    padding-top : 20px;
}

/* ------------------------------------------------- Style pour les listes déroulantes */

.flex-grow-1 {
    position: relative;
    display: inline-block;
}

.flex-grow-1 i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.flex-grow-1 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Ajouter un padding à droite pour le texte */
    padding-right: 30px; /* Ajustez selon la taille de l'icône */
}


#categorie_list {
    margin-left : 10px;
    width : 400px;
}

/* ------------------------------------------------- operation */
#operation_valeur{
    width : 100px;
}

#operation_detail{
    margin-top : 20px;
}



/* Couleur de fond et couleur de texte par défaut du label */
#btn-check-plus + .btn-success {
    background-color: white; /* ou toute autre couleur par défaut */
    color: green;
    border : solid 1px green;
    margin-left:10px;
    margin-right:10px;
}

/* Changez la couleur de fond et la couleur de texte du label lorsque le checkbox est coché */
#btn-check-plus:checked + .btn-success {
    background-color: green; /* nouvelle couleur de fond lorsque coché */
    color: white; /* ajustez si nécessaire */
}

#btn-check-plus:hover + .btn-success {
    background-color: green; /* nouvelle couleur de fond lorsque coché */
    color: white; /* ajustez si nécessaire */
}



/* Couleur de fond et couleur de texte par défaut du label */
#btn-check-minus + .btn-danger {
    background-color: white; /* ou toute autre couleur par défaut */
    color: red;
    border : solid 1px red;
}

/* Changez la couleur de fond et la couleur de texte du label lorsque le checkbox est coché */
#btn-check-minus:checked + .btn-danger {
    background-color: red; /* nouvelle couleur de fond lorsque coché */
    color: white; /* ajustez si nécessaire */
}

#btn-check-minus:hover + .btn-danger {
    background-color: red; /* nouvelle couleur de fond lorsque coché */
    color: white; /* ajustez si nécessaire */
}


.historique_date_operation{
    width: 15%;
}

.historique_banque_operation{
    width: 15%;
}

.historique_detail_operation{
    width: 40%;
    padding-left:5px;
}

.historique_category_operation{
    width: 15%;
    margin-right: 10px;
}

.historique_montant_operation{
    width: 15%;
    padding-left: 10px;
}


/* Pour masquer les flèches dans les navigateurs WebKit comme Chrome, Safari, etc. */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Pour masquer les flèches dans Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


/* Couleur des catégories */
.bg-divers {
    background-color: var(--bg-divers)
}

.bg-salaire {
    background-color: var(--bg-salaire);
}

.bg-aide {
    background-color: var(--bg-aide);
}

.bg-loisirs {
    background-color: var(--bg-loisirs);
}

.bg-charges {
    background-color: var(--bg-charges);
}

.bg-abonnements {
    background-color: var(--bg-abonnements);
}

.bg-virements {
    background-color: var(--bg-virements);
}

.bg-courses {
    background-color: var(--bg-courses);
}


/* ------------------------------------------------- popup */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 2; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  #popupAlert.show {
    animation: fadeIn 0.5s forwards;
  }
  
  #popupAlert.hide {
    animation: fadeOut 0.5s forwards;
  }
  

/* ------------------------------------------------- virement */

#virement_fleche{
    margin-left: 5px;
    margin-right: 5px;
}




/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
/* @media screen and (max-width: 1280px) */

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
/* @media all and (min-width: 1024px) and (max-width: 1280px) */

/* Sur tous types d'écrans orientés verticalement */
/* @media all and (orientation: portrait) */


@media screen and (max-width: 1280px){
    .modal-content {
        margin: 2% auto; /*15% du haut et centré horizontalement */
        width: 90% !important; /* Largeur de la modale */
      }

    .blob {
        max-width: 200px; /* ou la taille souhaitée */
    }
}
